:root {
   font-size: 62.5%; /* font-size default 10px */

   /* Backgrounds */
   --bg-1: #EFEFEF; /* body */
   --bg-2: #535971; /* body before */
   --bg-3: #fff;    /* form */
   --bg-4: #FF5374; /* input:submit */

   /* font-family */
   --ff-primary: 'Staatliches'; /* h1, h2 e button */
   --ff-secondary: 'Poppins';   /* p e label */

   /* color */
   --color-1: #fff;     /* h1, p, button */
   --color-2: #535971;  /* legend h2 */
   --color-3: #4E4958;  /* label */
   --color-4: #C1BCCC;  /* label span */

    /* Font Size */
    --fs-h1: 3.6rem;
    --fs-h2: 1.8rem;
    --fs-legend: 2rem;
    --fs-text: 1.2rem;
    --fs-button: 1.4rem;
}

* { /* reset css */ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color: var(--bg-1);
    
    font-family: var(--ff-secondary);
    font-size: var(--fs-text);
    font-weight: 400;

    margin: auto;
}

body::before {
    content: '';
    min-width: 100%;
    max-width: 1440px;
    min-height: 25rem;
    background-color: var(--bg-2);
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    padding: 0 1rem;
    max-width: 360px;
    margin: 5rem auto;
    display: grid;
    gap: 3rem;
}

header {
    display: grid;
    gap: 2rem;

    padding-left: 1rem;

    color: var(--color-1);
}

header h1 {
    letter-spacing: 1px;

    text-transform: uppercase;
    font-family: var(--ff-primary);
    font-weight: 400;
    
    font-size: var(--fs-h1);
}

header p {
    max-width: 80%;
    
    text-align: left;
}

/* Formulário */
form {
    display: grid;
    gap: 3rem;

    padding: 3rem;
    
    background-color: var(--bg-3);
    
    border-radius: 2rem 2rem 0 0;
}

fieldset {
    border: none;
    
    display: grid;
    gap: 10px;
}

fieldset legend {
    font-family: var(--ff-primary);
    font-size: var(--fs-legend);
    
    text-transform: uppercase;

    color: var(--color-2);
    
    border-bottom: 1px solid #E6E6F0;

    width: 100%;
}

fieldset .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;

    padding: 5px 2px;    
}



fieldset .input-wrapper label {
    color: var(--color-3);
}

fieldset .input-wrapper label span {
    color: var(--color-4);
}

fieldset .input-wrapper input {
    min-height: 4rem;

    padding: 5px;

    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    color: var(--color-4);
}

fieldset .input-wrapper input:focus {
    outline: 1px solid var(--color-4);
}


/* Form Horario disponinveis */
.mentoria h2 {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-h2);

    color: var(--color-2);

    margin-top: 1rem;
}

.mentoria .hora-mentoria .input-wrapper:first-child {
    grid-area: data;
}

.mentoria .hora-mentoria .input-wrapper:first-child + .input-wrapper {
    grid-area: das;
}

.mentoria .hora-mentoria .input-wrapper:last-child {
    grid-area: ate;
}

.mentoria .hora-mentoria {
    display: grid;
    gap: 2px;
    grid-template-columns: 100%;
    grid-template-areas: "data" "das" "ate"; 
}

main > div:last-of-type {
    background-color: var(--bg-2);
    
    border-radius: 0px 0px 20px 20px;
    
    min-height: 10rem;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

main > div:last-of-type > input {    
    background-color: var(--bg-4);
    padding: 1rem;
    width: 80%;
    
    font-size:var(--fs-button);

    border: none;
    border-radius: 1rem;
    
    text-align: center;
    font-family: var(--ff-primary);
    
    color: var(--color-1);
}

@media (min-width:390px) {

    /*
    .mentoria .hora-mentoria {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "data das ate" ;  
        align-items: end;    
    }
    */

    .page {
        max-width: 480px;
    }

    main fieldset:first-of-type {
        display: grid;
        grid-template-columns: 
        minmax(12rem, 15rem) 1fr;
        
        grid-template-areas: 
        "nome sobrenome" 
        "email email" 
        "senha senha";
    }

    main fieldset:first-of-type .input-wrapper:nth-of-type(1) {
        grid-area: nome;
    }

    main fieldset:first-of-type .input-wrapper:nth-of-type(2) {
        grid-area: sobrenome;
    }

    main fieldset:first-of-type .input-wrapper:nth-of-type(3) {
        grid-area: email;
    }

    main fieldset:first-of-type .input-wrapper:nth-of-type(4) {
        grid-area: senha;
    }
}

@media (min-width:768px) {
    :root {
        --fs-h1:4.8rem;
        --fs-h2: 2.6rem;
        --fs-text: 1.6rem;
        --fs-legend: 3rem;
        --fs-button: 2rem;
    }

    body:before {
        min-height: 300px;
        background-color: pink;
    }

    .input-wrapper {
        min-height: 5rem;
    }
}